body {
    background-color: rgb(95, 95, 95);
    margin: 0;
    display: flex;
    min-height: 100svh;
    justify-content: center;
    align-items: flex-start;
}

#presets {
    position: absolute;
    top: 1rem;
}

main {
    background-color: aqua;
    width: max(200px, 90vw);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 12px;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

button[data-control="clear"]  {
    margin-inline: 1rem;
}

.textareas {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    gap: 0.8rem;
}

textarea {
    height: 100%;
}

@media only screen and (max-width: 700px) {
    main {
        width: 95vw;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }

    textarea {
        height: 8rem;
    }
}

button {
    cursor: pointer;
}

textarea:focus:not(:focus-visible) {
    outline: none;
}
