body {
    background-color: rgb(95, 95, 95);
    margin: 0;
    display: flex;
    min-height: 100svh;
    justify-content: center;
    align-items: flex-start;
}

.abs-btns {
    position: absolute;
    top: 1rem;
}

main {
    min-height: 60vh;
    width: max(200px, 85vw);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

.grid-btns {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    & > button {
        height: 2rem;
        font-size: 1rem;
        white-space: nowrap;
        margin-inline: 0.5rem;
    }

    & > #clear {
        margin-inline: 2rem;
    }
}

.grid {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.8rem;
}

textarea {
    height: 100%;
}

@media only screen and (max-width: 700px) {
    main {
        width: 95vw;
    }

    .grid {
        grid-template-columns: 1fr;
        gap: 0.2rem;
    }

    textarea {
        height: 8rem;
    }
}

button {
    cursor: pointer;
}

textarea:focus:not(:focus-visible) {
    outline: none;
}